<!DOCTYPE html>
<html>
<head>
  <title>RailsWikinimous</title>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/31aab5d7d8.js" crossorigin="anonymous"></script>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container-fluid">
    <div class="navbar d-flex justify-space-between">
      <%= link_to "Wikinomous", articles_path%>
      <%= link_to "New article", new_article_path%>
    </div>
    <%= yield %>
  </div>
</body>
</html>
